/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

.contactPage {
  background: url(img/bg1.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  font-family: 'Lato', georgia;
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactPage form {
  max-width: 85%;
  background: radial-gradient(50% 50%, ellipse closest-side, rgba(58, 162, 180, 0.75), rgba(0, 210, 255, 0) 100%);
  background: -o-radial-gradient(50% 50%, ellipse closest-side, rgba(58, 162, 180, 0.75), rgba(0, 210, 255, 0) 100%);
  background: -ms-radial-gradient(50% 50%, ellipse closest-side, rgba(58, 162, 180, 0.75), rgba(0, 210, 255, 0) 100%);
  background: -webkit-radial-gradient(50% 50%, ellipse closest-side, rgba(58, 162, 180, 0.75), rgba(0, 210, 255, 0) 100%);
}
.contactPage label {
  font-weight: 400;
  cursor: pointer;
}
.contactPage textarea,
.contactPage input {
  border: none;
  outline: none;
  border-radius: 0;
  text-align: center;
  background: none;
  font-weight: 700;
  font-family: 'Lato', georgia;
  font-size: 25px;
  color: #ffffff;
  max-width: 90%;
  padding: 1rem;
  border: 2px dashed rgba(255, 255, 255, 0);
  box-sizing: border-box;
  cursor: text;
}
.contactPage textarea {
  text-align: left;
  /* overflow:hidden; */
  resize: none;
  width: 90%;
  border-color: rgba(255, 255, 255, 0);
}
.contactPage textarea:hover {
  transition: all 200ms;
  background-color: rgba(255, 255, 255, 0.2);
}
.contactPage textarea:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px dashed #ffffff;
}
.contactPage textarea:required {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
}
.contactPage textarea:focus:required:valid {
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.contactPage textarea:required:valid {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.contactPage input {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
  transition: all 200ms;
}
.contactPage input:required {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
}
.contactPage input:focus,
.contactPage input:hover {
  border-bottom: 2px dashed #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}
.contactPage input:required:valid {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.contactPage input:required:invalid {
  color: rgba(255, 255, 255, 0.5);
}
.contactPage ::-webkit-input-placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}
.contactPage :-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}
.contactPage ::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}
.contactPage :-ms-input-placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}
.contactPage .expanding {
  vertical-align: top;
}
.contactPage .send-icn {
  fill: #FFF;
  transition: all 200ms;
}
.contactPage .send-icn:hover {
  fill: #9fe6ef;
  cursor: pointer;
}
.contactPage button {
  background: none;
  border: none;
  outline: none;
  margin: 2vmax;
}
.contactPage .website {
  opacity: 1;
  font-size: 16px;
  color: white;
  position: relative;
  text-align: center;
  display: block;
  margin-top: 7%;
}
.contactPage .website a {
  color: #FFF;
}

@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Volkhov:400italic,700);
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.galleryContainer {
  background: url(img/bg2.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
}
.wrapper {
  position: relative;
  max-width: 840px;
  width: 100%;
  padding: 0 50px;
  margin: 0 auto;
  margin-top: 20vh;
}
/* Header Style */
.codrops-top {
  line-height: 24px;
  font-size: 11px;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  z-index: 9999;
  position: relative;
  font-family: Cambria, Georgia, serif;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2);
}
.codrops-top a {
  padding: 0px 10px;
  letter-spacing: 1px;
  color: #333;
  display: inline-block;
}
.codrops-top a:hover {
  background: rgba(255, 255, 255, 0.6);
}
.codrops-top span.right {
  float: right;
}
.codrops-top span.right a {
  float: left;
  display: block;
}
/* More examples buttons */
.more {
  position: relative;
  clear: both;
  padding: 20px;
}
.more ul {
  display: block;
  height: 32px;
  text-align: center;
}
.more ul li {
  display: inline-block;
  line-height: 24px;
}
.more ul li a {
  text-shadow: 1px 1px 1px #fff;
  color: #555;
  background: #fbf9f5;
  padding: 2px 5px;
  margin: 0 2px;
  line-height: 18px;
  display: inline-block;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.more ul li a:hover {
  background: #8c795d;
  color: #fff;
  text-shadow: none;
}
.more:before {
  content: "";
  position: absolute;
  background-color: #ddd1b6;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  height: 1px;
  width: 440px;
  left: 50%;
  margin-left: -220px;
  top: -10px;
}
.more ul li.selected a,
.more ul li.selected a:hover {
  background: #ae997a;
  color: #fff;
  text-shadow: none;
}
p.info {
  font-family: "Volkhov", serif;
  font-style: italic;
  color: #997f5a;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  padding: 20px;
  display: block;
  clear: both;
  text-align: center;
  width: 100%;
  max-wdith: 440px;
  margin: 0 auto;
}
.shadow {
  width: 100%;
  height: 168px;
  position: relative;
  margin-top: -110px;
  background: transparent url(../img/shadow.png) no-repeat bottom center;
  background-size: 100% 100%;
  /* stretches it */
  z-index: -1;
  display: none;
}
.sb-description h3 {
  font-size: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.sb-description h3 a {
  color: #4a3c27;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}
.nav-arrows {
  display: none;
}
.nav-arrows a {
  width: 42px;
  height: 42px;
  background: #cbbfae url(../img/nav.png) no-repeat top left;
  position: absolute;
  top: 50%;
  left: 2px;
  text-indent: -9000px;
  cursor: pointer;
  margin-top: -21px;
  opacity: 0.9;
  border-radius: 50%;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
.nav-arrows a:first-child {
  left: auto;
  right: 2px;
  background-position: top right;
}
.nav-arrows a:hover {
  opacity: 1;
}
.nav-dots {
  text-align: center;
  position: absolute;
  bottom: -5px;
  height: 30px;
  width: 100%;
  left: 0;
  display: none;
}
.nav-dots span {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 3px;
  background: #cbbfae;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.6), inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
.nav-dots span.nav-dot-current {
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.6), inset 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #cbbfae, inset 0 0 0 8px #fff;
}
.nav-options {
  width: 70px;
  height: 30px;
  position: absolute;
  right: 70px;
  bottom: 0px;
  display: none;
}
.nav-options span {
  width: 30px;
  height: 30px;
  background: #cbbfae url(../img/options.png) no-repeat top left;
  text-indent: -9000px;
  cursor: pointer;
  opacity: 0.7;
  display: inline-block;
  border-radius: 50%;
}
.nav-options span:first-child {
  background-position: -30px 0px;
  margin-right: 3px;
}
.nav-options span:hover {
  opacity: 1;
}
/* Slicebox Style */
.sb-slider {
  margin: 10px auto;
  position: relative;
  overflow: hidden;
  width: 100%;
  list-style-type: none;
  padding: 0;
}
.sb-slider li {
  margin: 0;
  padding: 0;
  display: none;
}
.sb-slider li > a {
  outline: none;
}
.sb-slider li > a img {
  border: none;
}
.sb-slider img {
  max-width: 100%;
  display: block;
}
.sb-description {
  padding: 20px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  z-index: 1000;
  position: absolute;
  background: #CBBFAE;
  background: rgba(190, 176, 155, 0.4);
  border-left: 4px solid rgba(255, 255, 255, 0.7);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  color: #fff;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  -ms-transition: all 200ms;
  transition: all 200ms;
}
.sb-slider li.sb-current .sb-description {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: 1;
}
.sb-slider li.sb-current .sb-description:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
  filter: alpha(opacity=99);
  background: rgba(190, 176, 155, 0.7);
}
.sb-perspective {
  position: relative;
}
.sb-perspective > div {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.sb-side {
  margin: 0;
  display: block;
  position: absolute;
  -moz-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Volkhov:400italic,700);
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
@font-face {
  font-family: "strasua";
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/strasua.ttf');
}
.navbar {
  position: fixed;
  top: 0;
  font-family: "strasua";
  width: 100%;
  z-index: 100;
  background-color: transparent;
}
.navbar ul {
  margin: 0;
  padding: 0;
  max-width: 960px;
  margin: auto;
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transition: all 300ms ease-in-out;
}
.navbar ul.scrolled {
  height: 2.7rem;
}
@media screen and (min-width: 400px) {
  .navbar ul.scrolled {
    height: 4rem;
  }
}
@media screen and (min-width: 750px) {
  .navbar ul.scrolled {
    height: 5rem;
  }
}
@media screen and (min-width: 1024px) {
}
.navbar ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;
}
.navbar ul li a {
  color: #fff;
  text-decoration: none;
}
@media screen and (min-width: 500px) {
  .navbar ul li {
    font-size: 1.5rem;
  }
}
.navbar ul li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  right: 0;
  height: 3px;
  transition: 0.5s;
  margin: auto;
}
.navbar ul li.active::after {
  width: 100%;
  transition: 0.5s;
  background-color: #f2f2f2;
}
.navbar ul li:hover:not(.active)::after {
  width: 100%;
  transition: 0.5s;
  background-color: #fff;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.galleryContainer {
  background: url(img/bg2.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
}
.wrapper {
  position: relative;
  max-width: 840px;
  width: 100%;
  padding: 0 50px;
  margin: 0 auto;
  margin-top: 20vh;
}
/* Header Style */
.codrops-top {
  line-height: 24px;
  font-size: 11px;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  z-index: 9999;
  position: relative;
  font-family: Cambria, Georgia, serif;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2);
}
.codrops-top a {
  padding: 0px 10px;
  letter-spacing: 1px;
  color: #333;
  display: inline-block;
}
.codrops-top a:hover {
  background: rgba(255, 255, 255, 0.6);
}
.codrops-top span.right {
  float: right;
}
.codrops-top span.right a {
  float: left;
  display: block;
}
/* More examples buttons */
.more {
  position: relative;
  clear: both;
  padding: 20px;
}
.more ul {
  display: block;
  height: 32px;
  text-align: center;
}
.more ul li {
  display: inline-block;
  line-height: 24px;
}
.more ul li a {
  text-shadow: 1px 1px 1px #fff;
  color: #555;
  background: #fbf9f5;
  padding: 2px 5px;
  margin: 0 2px;
  line-height: 18px;
  display: inline-block;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.more ul li a:hover {
  background: #8c795d;
  color: #fff;
  text-shadow: none;
}
.more:before {
  content: "";
  position: absolute;
  background-color: #ddd1b6;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  height: 1px;
  width: 440px;
  left: 50%;
  margin-left: -220px;
  top: -10px;
}
.more ul li.selected a,
.more ul li.selected a:hover {
  background: #ae997a;
  color: #fff;
  text-shadow: none;
}
p.info {
  font-family: "Volkhov", serif;
  font-style: italic;
  color: #997f5a;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  padding: 20px;
  display: block;
  clear: both;
  text-align: center;
  width: 100%;
  max-wdith: 440px;
  margin: 0 auto;
}
.shadow {
  width: 100%;
  height: 168px;
  position: relative;
  margin-top: -110px;
  background: transparent url(../img/shadow.png) no-repeat bottom center;
  background-size: 100% 100%;
  /* stretches it */
  z-index: -1;
  display: none;
}
.sb-description h3 {
  font-size: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.sb-description h3 a {
  color: #4a3c27;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}
.nav-arrows {
  display: none;
}
.nav-arrows a {
  width: 42px;
  height: 42px;
  background: #cbbfae url(../img/nav.png) no-repeat top left;
  position: absolute;
  top: 50%;
  left: 2px;
  text-indent: -9000px;
  cursor: pointer;
  margin-top: -21px;
  opacity: 0.9;
  border-radius: 50%;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
.nav-arrows a:first-child {
  left: auto;
  right: 2px;
  background-position: top right;
}
.nav-arrows a:hover {
  opacity: 1;
}
.nav-dots {
  text-align: center;
  position: absolute;
  bottom: -5px;
  height: 30px;
  width: 100%;
  left: 0;
  display: none;
}
.nav-dots span {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 3px;
  background: #cbbfae;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.6), inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
.nav-dots span.nav-dot-current {
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.6), inset 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #cbbfae, inset 0 0 0 8px #fff;
}
.nav-options {
  width: 70px;
  height: 30px;
  position: absolute;
  right: 70px;
  bottom: 0px;
  display: none;
}
.nav-options span {
  width: 30px;
  height: 30px;
  background: #cbbfae url(../img/options.png) no-repeat top left;
  text-indent: -9000px;
  cursor: pointer;
  opacity: 0.7;
  display: inline-block;
  border-radius: 50%;
}
.nav-options span:first-child {
  background-position: -30px 0px;
  margin-right: 3px;
}
.nav-options span:hover {
  opacity: 1;
}
/* Slicebox Style */
.sb-slider {
  margin: 10px auto;
  position: relative;
  overflow: hidden;
  width: 100%;
  list-style-type: none;
  padding: 0;
}
.sb-slider li {
  margin: 0;
  padding: 0;
  display: none;
}
.sb-slider li > a {
  outline: none;
}
.sb-slider li > a img {
  border: none;
}
.sb-slider img {
  max-width: 100%;
  display: block;
}
.sb-description {
  padding: 20px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  z-index: 1000;
  position: absolute;
  background: #CBBFAE;
  background: rgba(190, 176, 155, 0.4);
  border-left: 4px solid rgba(255, 255, 255, 0.7);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  color: #fff;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  -ms-transition: all 200ms;
  transition: all 200ms;
}
.sb-slider li.sb-current .sb-description {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: 1;
}
.sb-slider li.sb-current .sb-description:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
  filter: alpha(opacity=99);
  background: rgba(190, 176, 155, 0.7);
}
.sb-perspective {
  position: relative;
}
.sb-perspective > div {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.sb-side {
  margin: 0;
  display: block;
  position: absolute;
  -moz-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.musicPage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #181818;
  box-shadow: 0 0 50px 0 #000 inset;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.musicPage nav {
  background: #121212;
}
.musicPage nav ul li a {
  color: #FFF;
}
.musicPage .slider {
  width: 80%;
  max-width: 1200px;
  height: 400px;
  margin: 80px auto 0;
  overflow: hidden;
  border: 1px solid black;
  position: relative;
}
.musicPage .slider .wrap {
  width: 200%;
  height: 250%;
  max-height: 2000px;
  margin: -50% -50%;
  transform: rotate(225deg);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
@media screen and (min-width: 500px) {
  .musicPage .slider .wrap {
    height: 320%;
  }
}
@media screen and (min-width: 750px) {
  .musicPage .slider .wrap {
    height: 400%;
  }
}
@media screen and (min-width: 1024px) {
  .musicPage .slider .wrap {
    height: 500%;
  }
}
.musicPage .slider .foreground {
  display: block;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -200px;
  z-index: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #333;
  text-align: center;
  font-family: sans-serif;
  box-shadow: 0px 0px 0px 12px #333 inset, 0px 0px 0px 13px #eee inset, 0px 0px 0px 50px #333 inset,
            0px 0px 0px 51px #ddd inset, 0px 0px 0px 76px #222 inset, 0px 0px 0px 77px #ddd inset,
            0px 0px 0px 78px #333 inset, 0px 0px 0px 79px #ddd inset, 0px 0px 0px 85px #252525 inset, 0px 0px 0px 86px #ddd inset;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.musicPage .slider .foreground a {
  text-decoration: none;
}
.musicPage .slider .foreground .slider-artist {
  font-family: sans-serif;
  font-size: 1.5em;
  margin-bottom: 5px;
  text-shadow: 0 0 10px #000;
  color: #FFF;
  transition: all 100ms;
}
.musicPage .slider .foreground .slider-artist:hover {
  text-shadow: none;
  cursor: pointer;
}
.musicPage .slider .foreground .slider-track {
  font-size: 1.3em;
  color: #eee;
  text-shadow: 0 0 10px #000;
  text-transform: capitalize;
}
.musicPage .box {
  width: 50%;
  height: 50%;
  float: left;
  position: relative;
  transform: scale(1.5);
  -webkit-backface-visibility: hidden;
}
.musicPage .one {
  background: #2C3E50;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2C3E50, #FD746C);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2C3E50, #FD746C);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
}
.musicPage .two {
  background: #2C3E50;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2C3E50, #FD746C);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2C3E50, #FD746C);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}
.musicPage .three {
  background: #FF5F6D;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FF5F6D, #FFC371);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FF5F6D, #FFC371);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -webkit-transform-origin: right top;
  transform-origin: right top;
}
.musicPage .four {
  background: #FF5F6D;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FF5F6D, #FFC371);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FF5F6D, #FFC371);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
}
.musicPage #prev,
.musicPage #next {
  display: block;
  position: absolute;
  top: 50%;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 999;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.musicPage #prev:hover,
.musicPage #next:hover {
  background: rgba(0, 0, 0, 0.6);
  color: white;
}
.musicPage #next {
  right: 0;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.musicPage #next:after {
  content: " →";
}
.musicPage #prev {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  left: 0;
}
.musicPage #prev:before {
  content: "← ";
}
.musicPage .controllerContainer {
  width: 80%;
  max-width: 1200px;
  padding: 10px;
  background-color: #383838;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 30px 0px #000;
}
.musicPage .controllerContainer .btnPlay {
  font-size: 2em;
  color: white;
  transition: all 200ms;
}
@media screen and (min-width: 500px) {
  .musicPage .controllerContainer .btnPlay {
    font-size: 4em;
  }
}
.musicPage .controllerContainer .btnPlay:hover {
  color: #eee;
  text-shadow: 0 0 30px #fff;
  cursor: pointer;
}
.musicPage .controllerContainer .slider-timer {
  color: white;
  margin: 5px;
  vertical-align: bottom;
  font-size: 1em;
  font-family: sans-serif;
}
@media screen and (min-width: 500px) {
  .musicPage .controllerContainer .slider-timer {
    font-size: 1.4em;
  }
}
.musicPage .controllerContainer #slider1 {
  display: none;
}
@media screen and (min-width: 500px) {
  .musicPage .controllerContainer #slider1 {
    display: inline;
  }
}
.contactPage {
  background: url(img/bg1.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  font-family: 'Lato', georgia;
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactPage form {
  max-width: 85%;
  background: radial-gradient(50% 50%, ellipse closest-side, rgba(58, 162, 180, 0.75), rgba(0, 210, 255, 0) 100%);
  background: -o-radial-gradient(50% 50%, ellipse closest-side, rgba(58, 162, 180, 0.75), rgba(0, 210, 255, 0) 100%);
  background: -ms-radial-gradient(50% 50%, ellipse closest-side, rgba(58, 162, 180, 0.75), rgba(0, 210, 255, 0) 100%);
  background: -webkit-radial-gradient(50% 50%, ellipse closest-side, rgba(58, 162, 180, 0.75), rgba(0, 210, 255, 0) 100%);
}
.contactPage label {
  font-weight: 400;
  cursor: pointer;
}
.contactPage textarea,
.contactPage input {
  border: none;
  outline: none;
  border-radius: 0;
  text-align: center;
  background: none;
  font-weight: 700;
  font-family: 'Lato', georgia;
  font-size: 25px;
  color: #ffffff;
  max-width: 90%;
  padding: 1rem;
  border: 2px dashed rgba(255, 255, 255, 0);
  box-sizing: border-box;
  cursor: text;
}
.contactPage textarea {
  text-align: left;
  /* overflow:hidden; */
  resize: none;
  width: 90%;
  border-color: rgba(255, 255, 255, 0);
}
.contactPage textarea:hover {
  transition: all 200ms;
  background-color: rgba(255, 255, 255, 0.2);
}
.contactPage textarea:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px dashed #ffffff;
}
.contactPage textarea:required {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
}
.contactPage textarea:focus:required:valid {
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.contactPage textarea:required:valid {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.contactPage input {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
  transition: all 200ms;
}
.contactPage input:required {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
}
.contactPage input:focus,
.contactPage input:hover {
  border-bottom: 2px dashed #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}
.contactPage input:required:valid {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.contactPage input:required:invalid {
  color: rgba(255, 255, 255, 0.5);
}
.contactPage ::-webkit-input-placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}
.contactPage :-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}
.contactPage ::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}
.contactPage :-ms-input-placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}
.contactPage .expanding {
  vertical-align: top;
}
.contactPage .send-icn {
  fill: #FFF;
  transition: all 200ms;
}
.contactPage .send-icn:hover {
  fill: #9fe6ef;
  cursor: pointer;
}
.contactPage button {
  background: none;
  border: none;
  outline: none;
  margin: 2vmax;
}
.contactPage .website {
  opacity: 1;
  font-size: 16px;
  color: white;
  position: relative;
  text-align: center;
  display: block;
  margin-top: 7%;
}
.contactPage .website a {
  color: #FFF;
}
/* ==========================================================================
Author's custom styles
========================================================================== */
.homePage .container-1 {
  background: url(img/bg2.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
}
.homePage .js-scrollTo {
  height: 300px;
  background: url(img/bg2.jpg);
}
.homePage .js-scrollTo h3 {
  text-align: center;
  z-index: 10;
}
.homePage .js-scrollTo h3 h1 {
  text-align: center;
}
.homePage section {
  width: 100%;
  height: 100vh;
  background: url(img/bg2.jpg);
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.homePage section article {
  height: 14rem;
  width: 100%;
  position: relative;
}
.homePage section article .ctn-img {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
.homePage section article .ctn-img .ctn-img-img {
  position: absolute;
  top: 0;
  background-image: url(img/bg1.jpg);
  background-position-x: 50%;
  background-position-y: -25px;
  width: 100%;
  height: 100%;
  color: #bada55;
}
.homePage section article h1 {
  margin: 10px;
  font-family: "strasua";
  font-size: 2.2rem;
  color: white;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 500px) {
  .homePage section article h1 {
    font-size: 3rem;
  }
}
.homePage section .goToNews {
  width: 6em;
  border: 1px solid white;
  border-radius: 5px;
  color: #FFF;
  text-shadow: none;
  text-align: center;
  font-size: 2em;
  transition: all 200ms;
}
.homePage section .goToNews:hover {
  border-radius: 25px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 5px 30px -20px #000;
}
.homePage .news-container {
  position: absolute;
  top: 100%;
  width: 100%;
  background: #3a6486;
  /* fallback for old browsers */
  background: linear-gradient(to left, #b4c0ae, #3a6486);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -webkit-linear-gradient(to left, #b4c0ae, #3a6486);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
}
.homePage .news-container .news-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: #EEEEEE;
  height: 25vh;
  align-self: stretch;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: 200ms ease;
}
.homePage .news-container .news-item:first-child {
  box-shadow: 0px 15px 30px -15px black inset;
}
.homePage .news-container .news-item:last-child {
  border-bottom: 0;
}
.homePage .news-container .news-item:hover {
  color: #ffffff;
  cursor: pointer;
  box-shadow: inset 0 5px 70px -10px #000;
}
.homePage .news-container .news-item .news-item-title {
  width: 20%;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
}
.homePage .news-container .news-item .news-item-excerpt {
  width: 60%;
}
.homePage .news-container .news-item .news-item-date {
  width: 20%;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}


.musicPage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #181818;
  box-shadow: 0 0 50px 0 #000 inset;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.musicPage nav {
  background: #121212;
}
.musicPage nav ul li a {
  color: #FFF;
}
.musicPage .slider {
  width: 80%;
  max-width: 1200px;
  height: 400px;
  margin: 80px auto 0;
  overflow: hidden;
  border: 1px solid black;
  position: relative;
}
.musicPage .slider .wrap {
  width: 200%;
  height: 250%;
  max-height: 2000px;
  margin: -50% -50%;
  transform: rotate(225deg);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
@media screen and (min-width: 500px) {
  .musicPage .slider .wrap {
    height: 320%;
  }
}
@media screen and (min-width: 750px) {
  .musicPage .slider .wrap {
    height: 400%;
  }
}
@media screen and (min-width: 1024px) {
  .musicPage .slider .wrap {
    height: 500%;
  }
}
.musicPage .slider .foreground {
  display: block;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -200px;
  z-index: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #333;
  text-align: center;
  font-family: sans-serif;
  box-shadow: 0px 0px 0px 12px #333 inset, 0px 0px 0px 13px #eee inset, 0px 0px 0px 50px #333 inset,
            0px 0px 0px 51px #ddd inset, 0px 0px 0px 76px #222 inset, 0px 0px 0px 77px #ddd inset,
            0px 0px 0px 78px #333 inset, 0px 0px 0px 79px #ddd inset, 0px 0px 0px 85px #252525 inset, 0px 0px 0px 86px #ddd inset;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.musicPage .slider .foreground a {
  text-decoration: none;
}
.musicPage .slider .foreground .slider-artist {
  font-family: sans-serif;
  font-size: 1.5em;
  margin-bottom: 5px;
  text-shadow: 0 0 10px #000;
  color: #FFF;
  transition: all 100ms;
}
.musicPage .slider .foreground .slider-artist:hover {
  text-shadow: none;
  cursor: pointer;
}
.musicPage .slider .foreground .slider-track {
  font-size: 1.3em;
  color: #eee;
  text-shadow: 0 0 10px #000;
  text-transform: capitalize;
}
.musicPage .box {
  width: 50%;
  height: 50%;
  float: left;
  position: relative;
  transform: scale(1.5);
  -webkit-backface-visibility: hidden;
}
.musicPage .one {
  background: #2C3E50;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2C3E50, #FD746C);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2C3E50, #FD746C);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
}
.musicPage .two {
  background: #2C3E50;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2C3E50, #FD746C);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2C3E50, #FD746C);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}
.musicPage .three {
  background: #FF5F6D;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FF5F6D, #FFC371);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FF5F6D, #FFC371);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -webkit-transform-origin: right top;
  transform-origin: right top;
}
.musicPage .four {
  background: #FF5F6D;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FF5F6D, #FFC371);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FF5F6D, #FFC371);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
}
.musicPage #prev,
.musicPage #next {
  display: block;
  position: absolute;
  top: 50%;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 999;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.musicPage #prev:hover,
.musicPage #next:hover {
  background: rgba(0, 0, 0, 0.6);
  color: white;
}
.musicPage #next {
  right: 0;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.musicPage #next:after {
  content: " →";
}
.musicPage #prev {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  left: 0;
}
.musicPage #prev:before {
  content: "← ";
}
.musicPage .controllerContainer {
  width: 80%;
  max-width: 1200px;
  padding: 10px;
  background-color: #383838;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 30px 0px #000;
}
.musicPage .controllerContainer .btnPlay {
  font-size: 2em;
  color: white;
  transition: all 200ms;
}
@media screen and (min-width: 500px) {
  .musicPage .controllerContainer .btnPlay {
    font-size: 4em;
  }
}
.musicPage .controllerContainer .btnPlay:hover {
  color: #eee;
  text-shadow: 0 0 30px #fff;
  cursor: pointer;
}
.musicPage .controllerContainer .slider-timer {
  color: white;
  margin: 5px;
  vertical-align: bottom;
  font-size: 1em;
  font-family: sans-serif;
}
@media screen and (min-width: 500px) {
  .musicPage .controllerContainer .slider-timer {
    font-size: 1.4em;
  }
}
.musicPage .controllerContainer #slider1 {
  display: none;
}
@media screen and (min-width: 500px) {
  .musicPage .controllerContainer #slider1 {
    display: inline;
  }
}

@font-face {
  font-family: "strasua";
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/strasua.ttf');
}
.navbar {
  position: fixed;
  top: 0;
  font-family: "strasua";
  width: 100%;
  z-index: 100;
  background-color: transparent;
}
.navbar ul {
  margin: 0;
  padding: 0;
  max-width: 960px;
  margin: auto;
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transition: all 300ms ease-in-out;
}
.navbar ul.scrolled {
  height: 2.7rem;
}
@media screen and (min-width: 400px) {
  .navbar ul.scrolled {
    height: 4rem;
  }
}
@media screen and (min-width: 750px) {
  .navbar ul.scrolled {
    height: 5rem;
  }
}
@media screen and (min-width: 1024px) {
}
.navbar ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;
}
.navbar ul li a {
  color: #fff;
  text-decoration: none;
}
@media screen and (min-width: 500px) {
  .navbar ul li {
    font-size: 1.5rem;
  }
}
.navbar ul li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  right: 0;
  height: 3px;
  transition: 0.5s;
  margin: auto;
}
.navbar ul li.active::after {
  width: 100%;
  transition: 0.5s;
  background-color: #f2f2f2;
}
.navbar ul li:hover:not(.active)::after {
  width: 100%;
  transition: 0.5s;
  background-color: #fff;
}
