.contactPage{
    background: url(img/bg1.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;

    font-family: 'Lato', georgia;
    font-size: 25px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;

    display: flex;
    align-items: center;
    justify-content: center;

    form{
        max-width: 85%;
        background: radial-gradient(50% 50%, ellipse closest-side, rgba(58, 162, 180, 0.75), rgba(0, 210, 255, 0) 100%);
        background: -o-radial-gradient(50% 50%, ellipse closest-side, rgba(58, 162, 180, 0.75), rgba(0, 210, 255, 0) 100%);
        background: -ms-radial-gradient(50% 50%, ellipse closest-side, rgba(58, 162, 180, 0.75), rgba(0, 210, 255, 0) 100%);
        background: -webkit-radial-gradient(50% 50%, ellipse closest-side, rgba(58, 162, 180, 0.75), rgba(0, 210, 255, 0) 100%);
    }

    label {
        font-weight: 400;
        cursor: pointer;
    }

    textarea,
    input {
        border: none;
        outline: none;
        border-radius: 0;
        text-align: center;
        background: none;
        font-weight: 700;
        font-family: 'Lato', georgia;
        font-size: 25px;
        color: rgba(255, 255, 255, 1);
        max-width: 90%;
        padding: 1rem;
        border: 2px dashed rgba(255, 255, 255, 0);
        box-sizing: border-box;
        cursor: text;
    }

    textarea {
        text-align: left;
        /* overflow:hidden; */

        resize: none;
        width: 90%;
        border-color: rgba(255, 255, 255, 0);

        &:hover{
            transition: all 200ms;
            background-color: rgba(255, 255, 255, 0.2);
        }
        &:focus {
            background-color: rgba(255, 255, 255, 0.2);
            border: 2px dashed rgba(255, 255, 255, 1);
        }
        &:required {
            border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
        }
        &:focus:required:valid {
            border: 2px solid rgba(255, 255, 255, 0);
            border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        }

        &:required:valid {
            border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        }
    }

    input {
        border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
        transition: all 200ms;

        &:required{
            border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
        }

        &:focus, &:hover {
            border-bottom: 2px dashed rgba(255, 255, 255, 1);
            background-color: rgba(255, 255, 255, 0.2);
        }

        &:required:valid {
            border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        }

        &:required:invalid {
            color: rgba(255, 255, 255, 0.5);
        }
    }


    ::-webkit-input-placeholder {
        text-align: center;
        color: rgba(255, 255, 255, 0.4);
        font-style: italic;
        font-weight: 400;
    }

    :-moz-placeholder {
        /* Firefox 18- */

        text-align: center;
        color: rgba(255, 255, 255, 0.4);
        font-style: italic;
        font-weight: 400;
    }

    ::-moz-placeholder {
        /* Firefox 19+ */

        text-align: center;
        color: rgba(255, 255, 255, 0.4);
        font-style: italic;
        font-weight: 400;
    }

    :-ms-input-placeholder {
        text-align: center;
        color: rgba(255, 255, 255, 0.4);
        font-style: italic;
        font-weight: 400;
    }

    .expanding {
        vertical-align: top;
    }

    .send-icn {
        fill: #FFF;
        transition: all 200ms;
        &:hover {
            fill: #9fe6ef;
            cursor: pointer;
        }
    }

    button {
        background: none;
        border: none;
        outline: none;
        margin: 2vmax;
    }

    .website {
        opacity: 1;
        font-size: 16px;
        color: white;
        position: relative;
        text-align: center;
        display: block;
        margin-top: 7%;

        a{
            color: #FFF;
        }
    }
}
