@import "mixins.less";
@import "boilerplate-first-part.less";
@import "navigation.less";
@import "gallery.less";
@import "music.less";
@import "contact.less";

/* ==========================================================================
Author's custom styles
========================================================================== */

@news-color: #6e32ff;
.homePage{
    .container-1{
        background: url(img/bg2.jpg);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        background-size: cover;
        background-position: 50% 50%;
    }
    .js-scrollTo{
        height: 300px;
        background: url(img/bg2.jpg);
        h3{
            text-align: center;
            z-index: 10;

            h1{
                text-align: center;
            }
        }
    }
    section {
        width: 100%;
        height: 100vh;
        background: url(img/bg2.jpg);
        background-size: cover;
        background-position: 50% 50%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        article {
            height: 14rem;
            width: 100%;
            position: relative;
            .ctn-img {
                height: 100%;
                width: 100%;
                position: absolute;
                overflow: hidden;
                .ctn-img-img {
                    position: absolute;
                    top: 0;
                    background-image: url(img/bg1.jpg);
                    // transform: translateY(calc(-50% + 7rem));
                    background-position-x: 50%;
                    background-position-y: -25px;
                    width: 100%;
                    height: 100%;
                    color: #bada55;

                }
            }
            h1 {
                margin: 10px;
                font-family: "strasua";
                font-size: 2.2rem;
                color: white;
                position: absolute;
                z-index: 10;
                left: 0;
                right: 0;
                text-align: center;
                top: 50%;
                transform: translateY(-50%);
                // text-shadow: 2px 2px 4px black, -2px -2px 4px black, -2px 2px 4px black, 2px -2px 4px black;
                text-shadow: 0 0 40px rgba(0,0,0,0.1);

                @media screen and (min-width: 500px) {
                    font-size: 3rem;
                }
            }
        }
        .goToNews{
            width: 6em;
            border: 1px solid white;
            border-radius: 5px;
            color: #FFF;
            text-shadow: none;
            text-align: center;
            font-size: 2em;
            transition: all 200ms;
            &:hover{
                border-radius: 25px;
                cursor: pointer;
                background-color: rgba(0,0,0,0.05);
                box-shadow: inset 0 5px 30px -20px #000;
            }
        }
    }

    .news-container{
        position: absolute;
        top: 100%;
        width: 100%;

        background: #3a6486; /* fallback for old browsers */
        background: linear-gradient(to left, #b4c0ae , #3a6486); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: -webkit-linear-gradient(to left, #b4c0ae , #3a6486); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        display: flex;
        flex-direction: column;


        .news-item{
            border-bottom: 1px solid rgba(255,255,255,0.5);;
            color: #EEEEEE;

            height: 25vh;

            align-self: stretch;

            display: flex;
            align-items: center;

            text-decoration: none;

            transition: 200ms ease;

            &:first-child{
                box-shadow: 0px 15px 30px -15px black inset;
            }
            &:last-child{
                border-bottom: 0;
            }

            &:hover{
                color: #ffffff;
                cursor: pointer;

                box-shadow: inset 0 5px 70px -10px #000;
            }
            .news-item-title{
                width: 20%;
                margin-right: 20px;
                margin-left: 20px;
                text-align: center;
            }
            .news-item-excerpt{
                width: 60%;
            }
            .news-item-date {
                width: 20%;
                margin-right: 20px;
                margin-left: 20px;
                text-align: center;
            }
        }
    }
}
@import "boilerplate-helper-classes.less";

@import "mediaqueries.less";

@import "boilerplate-printstyles.less";
