.transition (@transition) {
	-webkit-transition: @transition;
	-moz-transition:    @transition;
	-ms-transition:     @transition;
	-o-transition:      @transition;
}

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

.border-top-left-radius(@radius: 5px){
    -moz-border-radius-topleft: @radius;
    -webkit-border-top-left-radius: @radius;
    border-top-left-radius: @radius;
}

.border-top-right-radius(@radius: 5px){
    -moz-border-radius-topright: @radius;
    -webkit-border-top-right-radius: @radius;
    border-top-right-radius: @radius;
}

.border-bottom-left-radius(@radius: 5px){
    -moz-border-radius-bottomleft: @radius;
    -webkit-border-bottom-left-radius: @radius;
    border-bottom-left-radius: @radius;
}

.border-bottom-right-radius(@radius: 5px){
    -moz-border-radius-bottomright: @radius;
    -webkit-border-bottom-right-radius: @radius;
    border-bottom-right-radius: @radius;
}

.transform-origin(@origin){
    -moz-transform-origin: @origin;
    -ms-transform-origin: @origin;
    -webkit-transform-origin: @origin;
    transform-origin: @origin;
}
