@import "mixins.less";
.musicPage{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #181818;
    box-shadow: 0 0 50px 0 #000 inset;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    nav{
        background: #121212;
        ul li a{
            color: #FFF;
        }
    }

    .slider {
        width: 80%;
        max-width: 1200px;
        height: 400px;
        margin: 80px auto 0;
        overflow: hidden;
        border: 1px solid black;
        position: relative;
        .wrap {
            width: 200%;
            height: 250%;
            max-height: 2000px;
            margin: -50% -50%;
            transform: rotate(225deg); //anim au chargement de la page
            .border-radius(50%);
            .transition(all .5s ease-in-out);
            @media screen and (min-width: 500px) {
                height: 320%;
            }
            @media screen and (min-width: 750px) {
                height: 400%;
            }
            @media screen and (min-width: 1024px) {
                height: 500%;
            }
        }

        .foreground {
            display: block;
            width: 300px;
            height: 300px;
            margin: 0 auto;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -200px;
            z-index: 1;
            .border-radius(50%);
            background: #333;

            text-align: center;
            font-family: sans-serif;

            box-shadow: 0px 0px 0px 12px #333 inset, 0px 0px 0px 13px #eee inset, 0px 0px 0px 50px #333 inset,
            0px 0px 0px 51px #ddd inset, 0px 0px 0px 76px #222 inset, 0px 0px 0px 77px #ddd inset,
            0px 0px 0px 78px #333 inset, 0px 0px 0px 79px #ddd inset, 0px 0px 0px 85px #252525 inset, 0px 0px 0px 86px #ddd inset;

            .transition(all .5s ease-in-out);
            a{
                text-decoration: none;
            }
            .slider-artist{
                font-family: sans-serif;
                font-size: 1.5em;
                margin-bottom: 5px;
                text-shadow: 0 0 10px #000;
                color: #FFF;
                transition: all 100ms;
                &:hover{
                    text-shadow: none;
                    cursor: pointer;
                }
            }
            .slider-track{
                font-size: 1.3em;
                color: #eee;
                text-shadow: 0 0 10px #000;
                text-transform: capitalize;
            }
        }
    }

    .box {
        width: 50%;
        height: 50%;
        float: left;
        position: relative;
        transform: scale(1.5);
        -webkit-backface-visibility: hidden;
    }

    .one {

        background: #2C3E50; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #2C3E50 , #FD746C); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #2C3E50 , #FD746C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        .transform-origin(right bottom);
    }

    .two {
        background: #2C3E50; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #2C3E50 , #FD746C); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #2C3E50 , #FD746C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        .transform-origin(left bottom)
    }

    .three {

        background: #FF5F6D; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #FF5F6D , #FFC371); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #FF5F6D , #FFC371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        .transform-origin(right top)
    }

    .four {

        background: #FF5F6D; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #FF5F6D , #FFC371); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #FF5F6D , #FFC371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        .transform-origin(left top)
    }

    #prev, #next {
        display: block;
        position: absolute;
        top: 50%;
        background: rgba(0, 0, 0, 0.2);
        padding: 10px;
        z-index: 999;
        color: rgba(255, 255, 255, 0.6);
        .transition(all .5s);
    }
    #prev:hover, #next:hover {
        background: rgba(0, 0, 0, 0.6);
        color: white;
    }

    #next {
        right: 0;
        .border-top-left-radius(5px);
        .border-bottom-left-radius(5px);

    }
    #next:after {
        content: " →";
    }

    #prev {
        .border-top-right-radius(5px);
        .border-bottom-right-radius(5px);
        left: 0;
    }
    #prev:before {
        content: "← ";
    }

    .controllerContainer{
        width: 80%;
        max-width: 1200px;
        padding: 10px;
        background-color: #383838;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 10px 30px 0px #000;
        .btnPlay {
            font-size: 2em;
            color: white;
            transition: all 200ms;
            @media screen and (min-width: 500px) {
                font-size: 4em;
            }
            &:hover{
                color: #eee;
                text-shadow: 0 0 30px #fff;
                cursor: pointer;
            }
        }
        .slider-timer{
            color: white;
            margin: 5px;
            vertical-align: bottom;
            font-size: 1em;
            font-family: sans-serif;
            @media screen and (min-width: 500px) {
                font-size: 1.4em;
            }
        }
        #slider1{
            display: none;
            @media screen and (min-width: 500px) {
                display: inline;
            }
        }
    }
}
