//Ici c'est Paris!
//Nope ici c'est le code less pour la barre de navigation :p
//Ici c'est Tunis! :p


@menuTC: #fff;
@menuBG: transparent;
@hoverC: #fff;
@activeC: #f2f2f2;



@font-face {
	font-family: "strasua";
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/strasua.ttf');
}

.navbar {
	position: fixed;
	top: 0;

	font-family: "strasua";

	width: 100%;
	z-index: 100;
	background-color: @menuBG;

	ul {
		margin: 0;
		padding: 0;
		max-width: 960px;
		margin: auto;
		width: 100%;
		height: 5rem;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;

		transition: all 300ms ease-in-out;
		&.scrolled{
			height: 2.7rem;
			@media screen and (min-width: 400px) {
				height: 4rem;
			}
			@media screen and (min-width: 750px) {
				height: 5rem;
			}
			@media screen and (min-width: 1024px) {
				//   height: 500%;
			}
		}

		li {
			margin: 0;
			padding: 0;
			list-style: none;
			font-size: 1.2rem;
			position: relative;
			cursor: pointer;

			a{
				color: @menuTC;
				text-decoration: none;
			}


			@media screen and (min-width: 500px) {
				font-size: 1.5rem;
			}
			@media screen and (min-width: 750px) {

			}
			@media screen and (min-width: 1024px) {

			}

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 0%;
				right: 0;
				height: 3px;

				transition: 0.5s;
				margin: auto;
			}

			&.active::after {
				width: 100%;
				transition: 0.5s;
				background-color: @activeC;
			}

			&:hover:not(.active)::after {
				width: 100%;
				transition: 0.5s;
				background-color: @hoverC;
			}
		}
	}
}
